<mat-toolbar>Player Database</mat-toolbar>
<mat-accordion multi="true" *ngIf="players.length > 0">
  <mat-expansion-panel [expanded]="false" *ngFor="let player of players">
    <mat-expansion-panel-header>
        <p mat-line class="demo-2"><b>Name:</b> {{ player.name }} </p>
    </mat-expansion-panel-header>

    <mat-card>
      <p><b>Phone Number:</b>  {{ player.phone }} </p>
      <p><b>Date of Birth:</b> {{ player.dob }} </p>
      <p><b>Position:</b> {{ player.position }} </p>
      <p><b>Email:</b> {{ player.email }} </p>
      <p><b>Weekly Wage:</b> {{ player.wage }} </p>
      <p><b>Contract Expiry Date:</b> {{ player.contract }} </p>
    </mat-card>
    
    <mat-action-row>
      <button mat-button [routerLink]="['/edit', player._id]" color="navy"><b>EDIT</b></button>
      <button mat-button (click)="onDelete(player._id)" color="warn"><b>DELETE</b></button>
    </mat-action-row>
    
<p class="info-text mat-body-1" *ngIf="players.length <= 0">No posts added yet!</p> 
