<div class="jumbotron text-center">
    <img src = "/assets/images/tottenham.jpg" alt="Spurs Logo" width="150" height="200">
      <h1>Tottenham Hotspur FC</h1>
  <p class="lead">Welcome to the Tottenham Hotspur Player Database </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/list']">Players</a> <a class="btn btn-dark" [routerLink]="['/create']">Register</a>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <h3>Register</h3>
    <p>Register all new player details</p>
  </div>
  <div class="col-md-4">
    <h3>Edit</h3>
    <p>Edit existing players at the club</p>
  </div>
  <div class="col-md-4">
    <h3>Remove</h3>
    <p>Remove players that have left the club</p>
  </div>
</div>
